Repository webworxshop/esphome-devices: changes, and which GitLab CI jobs are due for each by the changed paths.
All: room_sensor_toilet, bedroom1_smartclock, bedroom2_smartclock

room_sensor_toilet:
  stage: deploy
  variables:
    PYTHONPATH: /usr/src/app:$PYTHONPATH
  image:
    name: esphome/esphome:latest
    entrypoint:
    - ''
  before_script:
  - apt update && apt install -y git-crypt openssl
  ...

bedroom1_smartclock:
  stage: deploy
  variables:
    PYTHONPATH: /usr/src/app:$PYTHONPATH
  image:
    name: esphome/esphome:latest
    entrypoint:
    - ''
  before_script:
  - apt update && apt install -y git-crypt openssl
  ...

bedroom2_smartclock:
  stage: deploy
  variables:
    PYTHONPATH: /usr/src/app:$PYTHONPATH
  image:
    name: esphome/esphome:latest
    entrypoint:
    - ''
  before_script:
  - apt update && apt install -y git-crypt openssl
  ...

Add WiFi signal sensors.
  bedroom1_smartclock.yaml
  bedroom2_smartclock.yaml
  room_sensor_toilet.yaml
  secrets.yaml
Due: room_sensor_toilet, bedroom1_smartclock, bedroom2_smartclock

Add shed lights.
  .gitlab-ci.yml
  shed_lights.yaml
Due: none

Update fake secrets file.
  fake_secrets.yaml
Due: none

Add sacrificial signal LED to shed lights.
  shed_lights.yaml
Due: none

Update shed lights wifi signal interval.
  shed_lights.yaml
Due: none

Update secrets.
  secrets.yaml
Due: room_sensor_toilet, bedroom1_smartclock, bedroom2_smartclock

Fix secrets.yaml.
  secrets.yaml
Due: room_sensor_toilet, bedroom1_smartclock, bedroom2_smartclock

Fix fake secrets.
  fake_secrets.yaml
  secrets.yaml
Due: room_sensor_toilet, bedroom1_smartclock, bedroom2_smartclock

Fix yamllint.
  fake_secrets.yaml
Due: none

Really fix fake secrets.
  fake_secrets.yaml
Due: none

Add health monitoring sensors for shed lights.
  shed_lights.yaml
Due: none

Fix CI job.
  .gitlab-ci.yml
Due: none

Switch bedroom 2 smartclock to second wifi AP.
  bedroom2_smartclock.yaml
Due: bedroom2_smartclock

Add icons.
  shed_lights.yaml
Due: none

Tweaking sensor configuration.
  shed_lights.yaml
Due: none

Add STL and Ender 3 GCode files for U-Brackets used in shed lights.
  design/gcode/CE3_U_Bracket_LED_strip_x10.gcode
  design/gcode/CE3_U_Bracket_LED_strip_x20.gcode
  design/gcode/CE3_U_Bracket_battery.gcode
  design/stl/U_Bracket_LED_strip.stl
  design/stl/U_Bracket_battery.stl
Due: none

Add kicad files for shed lights voltage monitoring.
  design/kicad/shed_lights_voltage_monitoring/shed_lights_voltage_monitoring-cache.lib
  design/kicad/shed_lights_voltage_monitoring/shed_lights_voltage_monitoring.kicad_pcb
  design/kicad/shed_lights_voltage_monitoring/shed_lights_voltage_monitoring.pro
  design/kicad/shed_lights_voltage_monitoring/shed_lights_voltage_monitoring.sch
  design/kicad/shed_lights_voltage_monitoring/shed_lights_voltage_monitoring.sch-bak
Due: none

Path conditions:
  room_sensor_toilet: any of: room_sensor_toilet.yaml, secrets.yaml
  bedroom1_smartclock: any of: bedroom1_smartclock.yaml, secrets.yaml, sparkfun_serial_7segment.h
  bedroom2_smartclock: any of: bedroom2_smartclock.yaml, secrets.yaml, sparkfun_serial_7segment.h
